*.classpath
*.class
*.project
.settings/*
target/*
.metadata/*
.recommenders/*
*.prefs
Servers/*
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/target/
